<form class="calculator row align-items-center">
  <div class="calculator-col col-lg-3">
    <div class="input-group" id="Country">
      <div class="input-group-prepend">
        <div class="country">
          <img src="img/country/0.svg" alt="Russia">
        </div>
      </div>
      <select class="custom-select select-form" id="inputCountry">
        <option value="0" selected>Russia</option>
        <option value="1">Ukraine</option>
        <option value="2">USA</option>
      </select>
    </div>
  </div>
  <div class="calculator-col col-md-6 col-lg">
    <div class="input-group">
      <select class="custom-select select-form" id="exampleFormControlSelect1">
        <option>USD</option>
        <option>RUB</option>
      </select>
    </div>
  </div>
  <div class="calculator-col col-md-6 col-lg">
    <input type="text" class="form-control" aria-label="input" value="200">
  </div>
  <div class="calculator-col col-md-6 col-lg">
    <div class="input-group">
      <select class="custom-select select-form" id="exampleFormControlSelect1">
        <option>USD</option>
        <option>RUB</option>
      </select>
    </div>
  </div>
  <div class="calculator-col col-md-6 col-lg">
    <input type="text" class="form-control" aria-label="input" value="200">
  </div>
  <div class="col-lg-3 col-md p-0">
    <button type="button" class="btn btn-block btn-lg btn-border btn-gradient">Lorem Ipsum</button>
  </div>
</form>
